release
target
build
.settings
.project
.classpath
.idea
.DS_Store
bin
gen
proguard
.pmd
*~
*.iml
tmp
gen-external-apklibs
out
MeituanUri
coverage
build/
.gradle/
local.properties
.gradletasknamecache
keystore